@font-face {
  font-family: 'zing_rust_demobase';
  src: url('../../font/zing.rust-demo-base-webfont.woff2') format('woff2'),
       url('../../font/zing.rust-demo-base-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.font-style{
  font-family: 'zing_rust_demobase';
  font-weight: 700;
}

/* button  border gradient with border radius */
.button-border {
  position: relative;
  padding: 10px !important;
}
.button-border::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 5px;
  padding: 2px;
  background: linear-gradient(
      0deg,
      rgba(217, 217, 217, 0),
      rgba(217, 217, 217, 0)
    ),
    linear-gradient(180deg, #fcff00 0%, #3fff13 100%);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}
/* countdown boxes */
.countdowntimer-box {
  position: relative;
}
.countdowntimer-box::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 4px;
  background: linear-gradient(180deg, #FCFF00 0%, #3FFF13 100%);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}
/* headings gradient color */
.gradient-color {
  background: linear-gradient(179.93deg, #FCFF00 50%, #3FFF13 104.11%) !important;
  background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}

.footer-text {
  background: linear-gradient(180deg, #FCFF00 28.33%, #3FFF13 78.33%) !important;
  background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}

/* faq test */
.faq-text {
  background: linear-gradient(90deg, #FCFF00 0%, #3FFF13 97.18%) !important;
  background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}


@media screen and (max-width: 500px) {
  .button-border {
    padding: 5px !important;
  }
}