/* button text gradient */
#button-text {
  background: -webkit-linear-gradient(90deg, #FCFF01 0%, #41FF13 100%) !important;
  background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}

/* button  border gradient with border radius */
.button-border-colored {
  position: relative;
  padding: 10px !important;
}

.button-border-colored::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50px !important;
  padding: 1px;
  background: linear-gradient(90deg, #FCFF01 0%, #41FF13 100%);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.example::-webkit-scrollbar {
  display: none;
}

.form-control {
  background: url("data:image/svg+xml,<svg height='20px' width='20px' viewBox='0 0 16 16' fill='%23000000' xmlns='http://www.w3.org/2000/svg'><path d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/></svg>") no-repeat;
  background-position: calc(100% - 0.75rem) center !important;
  -moz-appearance: none !important;
  -webkit-appearance: none !important;
  appearance: none !important;
  width: 50% !important;
  border: 2px solid yellowgreen;
  border-radius: 7px !important;
}

.form-control:hover {
  cursor: pointer;
}

.form-control:focus-visible {
  border: 2px solid yellowgreen !important;

}

/* scroll */
::-webkit-scrollbar {
  height: 3px;
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #F1F1F1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: yellowgreen;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(123, 165, 25);
}